<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-list fa-fw"></i> Tool List
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="list-group">
            <a href="" class="list-group-item">
                <i class="fa fa-chevron-right fa-fw"></i> Build History
                <span class="pull-right text-muted small">
                </span>
            </a>

            <a href="" class="list-group-item">
                <i class="fa fa-chevron-right fa-fw"></i> Job History
                <span class="pull-right text-muted small">
                </span>
            </a>
        </div>
        <!-- /.list-group -->
    </div>
    <!-- /.panel-body -->
</div>