<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bell fa-fw"></i> Track List
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="list-group">
            <a href="repo/mozilla-b2g" class="list-group-item">
                <i class="fa fa-comment fa-fw"></i> mozilla-b2g
                <span class="pull-right text-muted small">
                </span>
            </a>
        </div>
        <!-- /.list-group -->
        <a href="#" class="btn btn-default btn-block">View All Repo</a>
    </div>
    <!-- /.panel-body -->
</div>