<h1>Recent <small>I hate</small></h1>
<div class="alert alert-success alert-dismissable">
 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
 Testing working ...
</div>
<%- partial('component/notification') %>