<li>
    <a href="/people/test"><i class="fa fa-user fa-fw"></i> People Commit</a>
</li>
<li>
    <a href="/repo/mozilla-b2g"><i class="fa fa-bookmark fa-fw"></i> Repo Commit<span class="fa arrow"></span></a>
</li>
<li>
    <a href="#"><i class="fa fa-star fa-fw"></i> Star Commit Event<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="#">Second Level Item</a>
        </li>
        <li>
            <a href="#">Second Level Item</a>
        </li>
        <li>
            <a href="#">Third Level <span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li>
                    <a href="#">Third Level Item</a>
                </li>
                <li>
                    <a href="#">Third Level Item</a>
                </li>
                <li>
                    <a href="#">Third Level Item</a>
                </li>
                <li>
                    <a href="#">Third Level Item</a>
                </li>
            </ul>
            <!-- /.nav-third-level -->
        </li>
    </ul>
    <!-- /.nav-second-level -->
</li>
<li>
    <a href="#"><i class="fa fa-leaf fa-fw"></i> My Commit<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="blank.html">Blank Page</a>
        </li>
        <li>
            <a href="login.html">Login Page</a>
        </li>
    </ul>
    <!-- /.nav-second-level -->
</li>