<li>
    <a href="#"><i class="fa fa-leaf fa-fw"></i> Login<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="/login">Login</a>
        </li>
        <li>
            <a href="/create">Create Account</a>
        </li>
    </ul>
    <!-- /.nav-second-level -->
</li>